* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #0b0e14;
    color: #e6e6e6;
    line-height: 1.6;
}

header {
    background: #000814;
    padding: 20px;
    border-bottom: 2px solid #c9a227;
}

header h1 {
    color: #c9a227;
    letter-spacing: 2px;
}

nav a {
    color: #e6e6e6;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #c9a227;
}

.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

footer {
    background: #000814;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    border-top: 1px solid #333;
}

h2 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 30px;
}

.video-youtube {
    position: relative;
    width: 100%;
    max-width: 960px;   /* CONTROLA O TAMANHO */
    aspect-ratio: 16 / 9;
    margin: 40px auto;
}

.video-youtube iframe {
    width: 100%;
    height: 100%;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Empurra o título para a esquerda e o logo para a direita */
    width: 100%;
    margin-bottom: 10px; /* Espaço entre o topo e o menu de navegação */
}

.logo {
    width: 100px; /* Aumentei um pouco para dar destaque */
    height: auto;
}